/*NOTE THIS WEBSITE WAS DESIGNED FOR "MOBILE FIRST"*/
/*WEBSITE IS AT FULL WIDTH*/
body{
	margin:0;
}
#showcase_slider{
	min-height: 450px;
	text-align: center;
	background-image: url('images/slide01.jpg');
	background-position:center;
	background-size: cover;
}

.showcase-header{
	padding-bottom: 0;
}

.showcase-header h1{
	padding: 300px 0;
	color:white;
	font-size: 3em;
	z-index: 0;
}
.test_bground{
	background-color: #823f3f;
	width:100%;
	position: fixed;
	height:57px;
	z-index: 1;
}
.logo{
	font-family: 'Caveat', cursive;
	font-size: 25px;
	float: left;
	height:100%;
	color:white;
}
.logo a{
	margin:0 auto;
	color:white;
	padding:12px 30px;
}




#nav_banner{
	background-color: none;
	height: auto;
	width:100%;
}




/*Dropdown Nav bar*/
/*The container <div> - needed to position the dropdown content*/

		 .dropdown{
		 	display:inline-block;
		 	position: absolute;
		 	right:0;
		 }
		 .dropbtn{
		 	background-color: #fff;
		 	color:#333;
		 	width:90px;
		 	height:auto;
		 	padding:10px 0;
		 	font-size: 3vw;
		 	border:none;
		 	margin: 5px 5px;
		 
		 }

		 .dropbtn i{
		 	font-size: 25px;
		 	color:black;
		 	margin:0;
		 }
		

		 /*Dropwdown Content (Hidden by Default)*/
		 .dropdown-content{
		 	display: none;
		 	position: absolute;
		 	background-color: #f1f1f1;
		 	max-width: 100px;
		 	/*width:50%;*/
		 	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		 	z-index: 1;
		 }
		 /*Links inside the dropdown*/
		 .dropdown-content a{
		 	color:black;
		 	padding: 12px 10px;
		 	text-decoration:none;
		 	display:block;
		 }

		 /*Change color of dropdown links on hover*/
		 .dropdown-content a:hover {
		 	background-color: #823f3f;
		 	color:#fff;
		 }
		 /*Shown the dropdown menu on hover*/
		 .dropdown:hover .dropdown-content{
		 	display:block;
		 }

		 /*Change the background color of the dropdown button wehn the content is shown*/
		 .dropdown:hover .dropbtn{
		 	background-color: #333;
		 	color:white;
		 }

		 .dropbtn:hover{
		 	border-radius: 5px;
		 }



/*Navigation bar*/
.navbar{
display: none;
overflow: hidden;
background-color: #823f3f;
position:fixed;
top:0;
width:100%;
z-index: 2;
}

.navbar a{
float:left;
display:block;
padding:12px 30px;
color:white;
font-size: 18px;
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover{
color:black;
background-color:white;
}

.link_container{
	margin:0 auto;
	width:80%;
}

#logo{
	font-family: 'Caveat', cursive;
	font-size: 15px;
}
#content{
	font-family: Arial, Helvetica, sans-serif;
	color:#5f5e4e;
}
.inner{
	margin:0 auto;
	width:90%;
	text-align: center;
}
.card{
	width: 250px;
	margin:0 auto;
}
.card p {
	width:100%;
	text-align: center;
	color:#5f5e4e;
}

.card img{
	width:100%;
	border: 1px solid #5f5e4e;
	padding:0;
}

.page_breaker hr {
	font-family: Arial, Helvetica, sans-serif;
}

.card-content{
	padding:30px 0;
}
.header_style{
	text-align: center;
	font-family: 'Lobster Two', cursive;
	padding-top: 50px;

}
.header_style span,h1{
	color:#823f3f;
	/*padding:5;*/
}

.header_style span{
	font-weight: 700;
	font-size: 5vw;
	font-size: 5vh;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header_style h1{
	font-size: 4vw;
	font-size: 6vh;

}
.para1{
	font-family: Arial, Helvetica, sans-serif;
}
.images{
	margin:10px 2px;
	display: inline-block;
    width: 250px; 
    height:200px;
}

.images img:hover{
	/*border:px solid #823f3f;*/
}
div.gallery img {
    float: left;
    width: 100%;
    height: 100%;
    margin: 0;
}
.gallery{
	margin:0;
	width: 100%;
}
#experience{
	margin:0;
	text-align: center;
	background-color: red;
	background: url('images/parallax01.jpg');
	background-size: cover;
	height: auto;
}
#experience, h1 ,p{
	margin:0;
}
#experience ,span, h1{
	/*padding: 10px;*/
}
#experience p{
	padding:40px 0;
}
.special{
	color:white;
}
.link ,a{
	padding:20px 0;
	text-decoration: none;
	font-size: 20px;
	color:#5f5e4e;
}
.link:hover{
	text-decoration: underline;
}

.employee{
	width:auto;
}

#staff{
	background-color: #a95858;
	color:white;
	width: 100%;
}
#staff p{
	color:white;
	padding-bottom: 80px;
	text-align: left;
}

.staff{
	text-align: left;
}

.header_style ,.stff{
	color: white;
}
.name{
	font-family: 'Lobster Two', cursive;
	font-size: 3vh;
}





/*Reservations*/

#reservation h3{
	font-weight: 100;
	margin:0;
}

.address{
	padding: 10px;
	margin:30px;
}

.info{
	padding-top: 40px;
	font-size: 2vh;
}


#phone{
	font-weight: 100;
	font-size: 50px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	color:#5f5e4e;
}



/*Footer at the bottom of page*/
#footer{
	/*bottom:0;*/
	margin-top: -5px;
	height:200px;
	/*width:100%;*/
	background:#a95858;
	text-align: center;
	padding-top:69px;
	padding-bottom: 69px;
}

#social_media{

	margin: 40px 20px;
}
 ul{
	height:20px;
}

ul{
	list-style: none;
	display:inline-block;
	
}

li{
	display: inline;
}

i{
	font-size: 40px;
	margin:10px;
	color:#dbdbdb;
}

i:hover{
	color:white;
}



#copywright{
	margin: 40px 20px;
	font-size: 1.08em;
	color:#dbdbdb;
}

@media(min-width: 768px){
	#welcome_cnt{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.card.welcome{
		margin:0 auto;
	}




	.info_wrapper{
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: auto;
		column-gap: 1em;

	}

	.info_wrapper p{
		margin:0 auto;
		/*width: 400px;*/
		width: 100%;
	}

	.para-box1{
		grid-column: 1/2;
	}
	.para-box2{
		grid-row:1/2;
		grid-column: 2/3;
	}
}

/*WEBSITE IS AT A MIN WIDTH OF 800PX*/
@media(min-width: 800px){
	*{
		margin:0;
	}
	#employee_info{
		display:inline-block;
	}
	.employee{
		float:left;
		margin:0px 15px;
		height: auto;
		width:300px;
	}
	.employee img{
		width:100%;
		height:100%;
		margin: 0;
	}
	.name{
		margin:0;
	}
	.employee h3{
		margin:0;
	}
}


@media(min-width:899px){
	.dropdown{
		display: none;
	}
}

@media(min-width: 900px){
	body{
		/*background-color: red;*/
	}
	.welcome{
		float:center;
		margin:40px;
	}

.inner{
	margin:0 auto;
	width:90%;
	text-align: center;
}

#showcase_slider{
	min-height: 700px;
	text-align: center;
	background-image: url('images/slide01.jpg');
	background-position:center;
	background-size: cover;

}

.showcase-header{
	padding-top: 100px;
	padding-bottom: 0;
	font-size: 1.90em;
}

.navbar{
		display:block;
	}

.link_container{
	height: 50px;
	margin:0 auto;
	width:80%;
	text-align:center;
}

}



